@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-base {
    position: relative;
    margin: 0px;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
    color: inherit;
    box-sizing: border-box;
    vertical-align: middle;

    &::-moz-focus-inner {
      borderstyle: none;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}

body {
  background: #1e1e1e;
}

:root {
  color: white;
}
