@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.min.css';

@layer components {
  .button-base {
    position: relative;
    margin: 0px;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
    color: inherit;
    box-sizing: border-box;
    vertical-align: middle;

    &::-moz-focus-inner {
      borderstyle: none;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  .reset-input-number {
    /* FireFox */
    @supports not selector(: : -webkit-inner-spin-button) {
      -moz-appearance: textfield !important;
    }

    /* Chrome */
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

body {
  background: var(--body-background-color);
}

:root {
  color: white;
  --body-background-color: #1e1e1e;
}
